# ADSP Final Project Stock Price Prediction

In [1]:
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from scipy.stats import norm
import plotly.express as px
import pandas as pd
import numpy as np
import scipy as sp
import quandl
import seaborn as sns
import statsmodels.api as sm
import statsmodels.tsa.stattools as ts
from scipy import stats
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.stattools import coint
from dataclasses import dataclass
from enum import Enum
from statsmodels.regression.rolling import RollingOLS
import Data as data

## 0. Data Fetching

In [10]:
MSFT = data.get_ETF_data('MSFT', '2000-01-01', '2024-01-01')
MSFT.to_csv('msft.csv', index=True)

In [11]:
train_msft, val_msft, test_msft = data.split_time_series(MSFT, 0.6,0.2)
train_msft.to_csv('train_msft.csv', index=True)
val_msft.to_csv('val_msft.csv', index=True)
test_msft.to_csv('test_msft.csv', index=True)

In [5]:
display(MSFT.head(5))

            adj_close
date
2000-01-03  36.263777
2000-01-04  35.037977
2000-01-05  35.408206
2000-01-06  34.222851
2000-01-07  34.670859

## 1. EDA

In [9]:
MSFT.info()
data.check_dataset(MSFT)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6037 entries, 2000-01-03 to 2023-12-29
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   adj_close  6037 non-null   float64
dtypes: float64(1)
memory usage: 94.3 KB